@mixin textcolorchange()
{
    &:hover
    {
        color: $brand1;
    }
}
@mixin backgroundcontent($value) {
    background: url($value);
    background-position: center;
    background-size: cover;
    padding: 8rem 0;
    h2
    {
        font-size: 3.6rem;
        margin-bottom: 3.24rem;
        font-weight: 600;    
    }
}
@mixin donatebuttoneffect()
{
    padding: 1rem 2rem 1rem 0;
    span 
    {
        background: $brand1;
        color: $o;
        padding: 1.1rem 3.8rem;
        &:hover
        {
            background: $brand2;
        }
    }
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
$brand1:#EA3A3C;
$brand2:#CC0001;
$o:white;
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
html
{
    font-size: 62.5%;
}
body
{
    font-size: 1.6rem;
}
a,a:hover
{
    text-decoration: none;
    color: black;
}

.stickyy
{
    position: fixed!important;
    top: 0;
    background: black!important;
    transition: all 0.4s ease;
  
}
// preloader
#loader 
{
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: url('https://centromall.net/content/images/loader.gif');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 99999999999999;
    transition: 5s ease-in;
}
// header starts

header
{
    h2 
    {
        font-size:2rem;
        margin: 0;
    }
    p
    {
        font-size: 1.4rem;
        margin: 0;
    }
    ul
    {
        margin: 0;
        li 
        {
            list-style: none;
            display: inline;
            i 
            {
                margin-right: 1rem;
                @include textcolorchange()
            }
        }
    }
    .col-lg-9
    {
        .icon 
        {
            display: flex;
            align-items: center;
            i
            {
                font-size: 3.6rem;
                margin-right: 2rem;
            }
        }
        p
        {
            font-size: 1.4rem;
        }
    }
    .donate
    {
        @include donatebuttoneffect()
    }
    
}
.add 
{
    left: 0!important;  
}
#slidingnavbar
{
    
    position: fixed;
    top: 0;
    left:-110%;
    bottom:0;
    width: 100%;
    background: #333234;
    z-index: 99999;
    transition: all .5s ease-in ;
    padding: 2rem 2rem 2rem 1rem;
    ul 
    {
        padding: 0;
        margin: 0;
        list-style: none;
        li 
        {
            padding: 1rem 1.5rem;
        }
        a 
        {
            color: white;
            font-size: 1.7rem ;
            font-weight: 400;
        }
    }
    i 
    {
        position: absolute;
        right: 0;
        color: $o;
        font-size:1.7rem;
        right: 15px;
    }
}

// carousel starts
.slider
{
    position: relative;
    .navbar-toggler
    {
        border: solid $o 1px;
        padding: 0.65rem;
        i 
        {
            color: $o;
           
        }
    }
    .box
    {
        position: absolute;
        z-index: 11111;
        width: 100%;
        background: rgba(0,0,0,0);
        nav
        {
            width: 70%;
            left: 50%;
            transform: translate(-50%,0);
            ul
            {
                li 
                {
                    margin: 0 1rem;
                    a
                    {
                        @include textcolorchange();
                        color: $o;
                    }
                }
            }
        }
    
    }
    img
    {
        width: 100%;
    }
    #carouselExampleControls
    {
        .carousel-control-prev
        {
            justify-content: start;
        }
        .carousel-control-next
        {
            justify-content: end;
        }
        .carousel-control-prev-icon
        {
            position: relative;
            width: 4rem;
            height: 10rem;
            background: none;
            background-color: rgba(255, 255, 255, 0.25);
            &:hover 
            {
                color: $brand1;
            }
        }
        .carousel-control-prev-icon::before 
        {
            position: absolute;
            content: '\f053';
            font-size: 2.4rem;
            font-weight: 900;
            background-image:none;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: "Font Awesome 5 Free";
        }
        .carousel-control-next-icon
        {
            position: relative;
            width: 4rem;
            height: 10rem;
            background: none;
            background-color: rgba(255, 255, 255, 0.25);
            &:hover 
            {
                color: $brand1;
            }
        }
        .carousel-control-next-icon::before 
        {
            position: absolute;
            content: '\f054';
            font-size: 2.4rem;
            font-weight: 900;
            background-image:none;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            font-family: "Font Awesome 5 Free";

        }

    }
    .carousel-caption
    {
        bottom: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%,50%);
        .animate__animated.animate__fadeInUp
        {
            --animate-duration: 1s;
           
        }
        h1
        {
            font-size: 10rem;
            font-weight: 700;
            margin-bottom: 1rem;
        }
        p 
        {
            font-size: 3rem;
            font-weight: 300;
            margin: 3rem 0 1rem 0;
        }
        .donate 
        {
            margin-top: 4rem;
            @include donatebuttoneffect();
        }
    }
}
// ngohelpertype starts
.ngohelpertype
{
    .col-lg-4
    {
        color: $o;
        a 
        {
            color: $o;
            font-size: 1.8rem;
            padding: 1.1rem 2rem;
            border: 0.2rem solid $o;
            &:hover
            {
                background: white;
                color: black;
            }
        }
        &:nth-child(1)
        {
            
            @include backgroundcontent("https://html.modernwebtemplates.com/giving/images/teaser01.jpg");
            box-shadow: inset 0 0 0 1000px rgba(235, 72, 57, 0.8);
        }
        &:nth-child(2)
        {
            @include backgroundcontent("https://html.modernwebtemplates.com/giving/images/teaser02.jpg");
            background-position: 60% 30%;
            
            box-shadow: inset 0 0 0 1000px rgba(238, 27, 8, 0.8);
        }
        &:nth-child(3)
        {
            @include backgroundcontent("https://html.modernwebtemplates.com/giving/images/teaser03.jpg");
            box-shadow: inset 0 0 0 1000px rgba(197, 41, 2, 0.8);
        }
    }
}
// member starts
.member
{
    .container
    {
        padding: 10rem 1.5rem 0 1.5rem;
        h2 
        {
            font-size: 3rem;
            font-weight: 500;
            margin-bottom: 1.5rem;
            span
            {
                color: $brand2;
            }
        }
        p 
        {
            line-height: 3rem;
            margin-bottom: 3rem;
        }
        .Read
        {
            @include donatebuttoneffect();
        }
        .col-md-12
        {
            &:nth-child(1)
            {
                margin: 1rem 0 3rem 0;
            }
            &:nth-child(2)
            {
                margin-top: 1rem;
            }
        }
    }
}
// cause starts
.cause
{

    .container{
        padding: 10rem 1.5rem 7.5rem 1.5rem;
        .col-lg-4
        {
            padding: 0 5rem;
            margin: 1rem 0 4rem 0;
        }
        h1
        {
                font-weight: 900;
                margin: 1rem 0;
        }
        .counter 
        {
             position: relative;
            img 
            {
                width: 100%;
                border-radius: 50%;
            }
            .common 
            {
                position: absolute;
                height:100px;
                width:100px;
                border-radius: 50%;
                cursor: default;
                background: black;
                right: 0;
                bottom: 0;
                .square,.square span 
                {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    z-index: 999;
                }
                .square 
                {
                    height: 100%;
                    width: 100%;
                    background: white;
                    border-radius: 50%;
                    transform: translate(-50%,-50%)scale(0.8);
                    span 
                    {
                        font-size: 2.4rem;
                        font-weight: 600;
                        transform: translate(-45%,-45%);
                    }
                }
            }
        }
        .desc 
        {
            padding-top: 3.5rem;
            .progressbox
            {
                height: 0.9rem;
                background-color: rgb(138, 138, 138);
                position: relative;
                margin-bottom: 3rem;
                .progressbar1
                {
                    position: absolute;
                    width: 65%;
                    height: 100%;
                    background-color: $brand1;
                    // animation: linearbar1 2s ease  forwards;
                }
                @keyframes linearbar1 {
                    0%{width: 0%;};
                    100%{width: 65%;};
                }
                .progressbar2
                {
                    position: absolute;
                    width:75% ;
                    height: 100%;
                    background-color: $brand1;
                    // animation: linearbar2 2s ease  forwards;
                }
                @keyframes linearbar2 {
                    0%{width: 0%;};
                    100%{width: 75%;};
                }
                .progressbar3
                {
                    position: absolute;
                    width:80% ;
                    height: 100%;
                    background-color: $brand1;
                    // animation: linearbar3 2s ease  forwards;
                }
                @keyframes linearbar3 {
                    0%{width: 0%;};
                    100%{width: 80%;};
                }
            }
            h4 
             {
                margin-bottom: 2rem; 
                font-size: 1.8rem;
                font-weight: 500;
                text-align: center;
                a 
                {
                    @include textcolorchange();
                }
             }
             p 
             {
                 font-size: 1.8rem;
                 margin-bottom: 3rem;
                 .highlight
                 {
                     color: $brand1;
                 }
                 text-align: center;
             }
             .donate 
             {
                 @include donatebuttoneffect()
             }
        }
    }
}
// video starts
.video
{
    background: url("https://html.modernwebtemplates.com/giving/img/parallax/videoblock.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size:100%;
    .container 
    {
        padding: 10rem 1.5rem;
        color: $o;
        h4 
        {
            font-size: 3rem;
            font-weight: 900;
            margin-bottom: 1.5rem;
            .highlight
            {
                color: $brand1;
            }
        }
        .donation 
        {
            font-size: 3rem;
            font-weight: 900;
            display: flex ;
            align-items: center;  
            
            .highlight 
            {
                color: $brand1;
            }
            .horizontal-divider
            {
                padding: 0 1rem ;
            }
            a 
            { 
                    color: $o;
                    font-size: 1.8rem;
                    font-weight: 400;
                    height: 100%;
                    padding: 1.1rem 3rem;
                    border: 0.2rem solid white;
                    &:hover
                    {
                        background: white;
                        color: black;
                    }
            }
        }

        p 
        {
            font-size: 1.6rem;
            line-height: 3rem;
        }
        .colb
        {
            padding: 6rem 17.4rem 6rem 6rem;
            border: solid;
            margin-right: -11.4rem;
        }
        .cola
        {
           width: 57rem 28.5rem;
        }
        .progressbox
        {
            height: 0.9rem;
            background-color: rgb(138, 138, 138);
            position: relative;
            margin-top: 3rem;
            margin-bottom: 4rem;
            .progressbar
            {
                position: absolute;
                height: 100%;
                background-color: $brand1;
                // animation: linearbar 2s ease  forwards;
            }
            @keyframes linearbar {
                0%{width: 0%;};
                100%{width: 65%;};
            }
        }

    }
}
// volunteer starts
.volunteer
{
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.8);
    background: url("	https://html.modernwebtemplates.com/giving/img/parallax/progress.jpg");
    background-attachment: fixed;
    .container{
        padding: 10rem 0;
        .row 
        {
            margin-top:6rem;
        }
        .col-lg-4 
        {
            width:100%;
        }
        .content
        {
            padding: 3.5rem 0;
            
                h4 
                {
                    font-size: 3rem;
                    font-weight: 500;
                    margin-bottom:1.5rem;
                    span 
                    {
                        color: $brand1;
                    }
                }

            
        }
        h2 
        {
            font-size: 3rem;
            font-weight: 900;
            margin-bottom: 1.5rem;
            span 
            {
                color: $brand1;
            }
        }
        p 
        {
            font-size: 1.6rem;
            line-height: 3rem;
            margin-bottom: 1.5rem;
        }
        .donate 
        {
            margin-top: 3rem;
            @include donatebuttoneffect()
        }
        .press 
        {
                display:inline-block;   
                color: black;
                font-size: 1.8rem;
                padding: 1.1rem 2rem;
                border: 0.2rem solid black;
                &:hover
                { 
                    color: $brand1;
                    border: 0.2rem solid $brand1;
                }
            
        }
    }
}
// counter starts
.counter_up 
{
    box-shadow: inset 0 0 0 1000px rgba(238, 27, 8, 0.8);
    background: url("	https://html.modernwebtemplates.com/giving/img/parallax/progress.jpg");
    background-attachment: fixed;
    color: white;
    .container 
    {
        padding: 7.5rem 1.5rem 5rem 1.5rem;
        .row 
        {
            .col-md-4
            {
                .text 
                {
                    span 
                    {
                        &:nth-child(1)
                        {
                            margin-bottom: 2.5rem;
                            font-size: 3.6rem;
                            font-weight: 900;
                        }
                        &:nth-child(2)
                        {
                            margin-top: 1.8rem;
                            margin-bottom: 0.6rem;
                            font-size: 1.8rem;
                            font-weight: 500;
                        }
                    }
                }
                .icon 
                {
                    padding-top: 1rem;
                    i 
                    {
                        padding-left: 4rem;
                        font-size: 5.5rem;
                    }
                }
            }
        }
    }
}
// blog starts
.blog 
{
    .container{
        padding: 10rem 0;
        .image 
        {
            position: relative;
            img 
            {
                width: 100%;
            }
            .circlebox
            {
                position: absolute;
                background: $brand1;
                width: 8rem;
                height: 8rem;
                border-radius: 50%;
                z-index: 9999;
                bottom: 0;
                right: 10%;
                transform: translate(0,50%);
                p 
                {
                    margin: 0;
                    color: white;
                }
            }
        }
        .title 
        {
            margin: 1rem 0;
            h2 
            {
                font-size: 3rem;
                font-weight: 900;
                margin-bottom: 1.5rem;
                span 
                {
                        color: $brand1;
                }
            }
        }
        h4 
        {
            font-size: 3rem;
            font-weight: 500;
            margin-top:1rem;
            margin-bottom:1.5rem;     
        }
        .press 
        {
                display:inline-block;   
                color: black;
                font-size: 1.8rem;
                padding: 1.1rem 2rem;
                border: 0.2rem solid black;
                margin-top: 3rem;
                &:hover
                { 
                    color: $brand1;
                    border: 0.2rem solid $brand1;
                }
            
        }
        .content 
        {
            padding-top: 3.5rem;
            .icons 
            {

                i
                {
                    color: $brand1;
                    margin-right: 0.5rem;
                }
            }
        }
        .col-lg-4 
        {
            padding-top: 1rem;
            padding-bottom: 1rem;
        }
    }
}
// input starts
.feedback 
{
    .container 
    {
        img 
        {
            width: 100%;
        }
        h2 
        {
            font-size: 7.2rem;
            line-height: 7.92rem;
            .highlight
            {
                color: $brand1;
            }
        }
        .col-md-5 
        {
            .form-group 
            {
                margin-bottom: 2rem;
                label 
                {
                    display: none;
                }
                input,textarea
                {
                    padding: 0.9rem 2rem;
                    font-size: 1.4rem;
                }
                .donate 
                {
                    padding: 1rem 0 ;
                    span 
                    {
                        background: $brand1;
                        color: $o;
                        padding: 1.1rem 3.8rem;
                        &:hover
                        {
                            background: $brand2;
                        }
                    }
                }
            }


        }
    }
}  
// subscribe starts
.subscribe 
{
    background: $brand1;
    .container 
    {
        padding: 5rem 0;
    }
    h2 
    {
        font-size: 3rem;
        color: $o;
        span 
        {
            color: black;
        }
    }
    .form-group
    {
        margin-right: 2rem;
        width: 40%;
        input 
        {
            padding: 0.9rem 2rem;
            font-size: 1.4rem;
            font-weight: 400;
            margin-right: 1rem;
        }
    }
    a 
    {
        color: $o;
        font-size: 1.8rem;
        padding: 0.7rem 2rem;
        border: 0.2rem solid $o;
        &:hover
        {
            background: white;
            color: black;
        }
    }
}
footer 
{
    background: url("	https://html.modernwebtemplates.com/giving/img/parallax/bottom.jpg");
    background-attachment: fixed;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.8);
    .container 
    {
        padding: 5rem 1.5rem;
        border-bottom: 0.01rem solid rgba(138, 138, 138,0.8);
        color: #666;
        p 
        {
            font-size: 1.6rem;
            line-height: 3rem;
        }
        .row 
        {
            .col-lg-4
            {
                margin: 1rem 0;
                &:nth-child(1)
                {
                    p 
                    {
                        margin-bottom: 1.5rem;
                    }
                    .icon1,.icon2,.icon3
                    {
                        margin-top: 1.8rem;
                        i 
                        {
                            color: $brand1;
                        }
                        span 
                        {
                            color: $o;
                            font-size: 1.8rem;
                        }
                    }
                    .sociallinks
                    {
                        margin-top: 3rem;
                        ul 
                        {
                            margin: 0;
                            padding: 0;
                            li 
                            {
                                list-style: none;
                                display: inline;
                                i 
                                {
                                    color: $o;
                                    margin-right: 1.5rem;
                                }
                            }
                        }
                    }
                }
                &:nth-child(2)
                {
                    
                    h4 
                    {
                        font-size: 1.8rem;
                        margin-bottom: 3.5rem;
                        font-weight: 400;
                        color: $o;
                    }
                    .content 
                    {
                        margin-top: 1.4rem;
                        figure 
                        {
                            padding-right: 2.5rem;
                        }
                        .subcontent 
                        {
                            p 
                            {
                                color: #666;
                                &:hover 
                                {
                                    color: $o;
                                }
                            }
                            .icons 
                            {
                                color: $o;
                                p 
                                {
                                  
                                    color: $o;
                                    margin-bottom: 0;
                                    font-size: 1.4rem;
                                    span 
                                    {
                                        padding-right: 1.3rem;
                                        border-right: solid $o 0.04rem;
                                    }
                                }
                                i 
                                {
                                    padding-left: 1.3rem; ;
                                    font-size: 1.4rem;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3)
                {
                    h4 
                    {
                        font-size: 1.8rem;
                        margin-bottom: 3.5rem;
                        font-weight: 400;
                        color: $o;
                    }
                }
            }
        }
    }
    .copyright
    {
        padding: 1rem 0;
        color: #666;
        a 
        {
            color: #666; 
        }
    }
}
// go to top button
.goTop
{
    position: fixed;
    background: $brand1;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    right: 15px;
    bottom: 15px;
    font-size: 20px;
    z-index: 9999;
    opacity: 0;
    cursor: pointer;
    transition: 1s ease-in-out;
    i
    {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        color: white;
    }
}
// responsive


@media only screen and (max-width: 1199px)
{
      html 
      {
          font-size: 55%;
      }
}

@media only screen and (max-width: 992px) {
    // carousel starts
    html 
    {
        font-size: 50%!important;
    }
    .slider{
        .carousel-caption
        {
            bottom: 0;
            transform: translate(-50%,0%);
        }
        // .animate__animated {
        //     /*CSS transitions*/
        //     transition-property: none !important;
        //     /*CSS transforms*/
        //     transform: none !important;
        //     /*CSS animations*/
        //     animation: none !important;
        // }
    }
    // video starts
  }
@media only screen and (max-width: 767px)
{
    .video,.volunteer  {
        background-size: cover;
        background-position: center;
    }
    .slider .carousel-caption h1
    {
        font-size: 6rem;
    }
    .slider .carousel-caption p
    {
        font-size: 2.5rem;
    }
    #carouselExampleControls
    {
        height: 360px;
        img 
        {
            object-fit:cover;
        }
    }
}
